---
import CategoryCreator from '../components/createCategory/CategoryCreator';
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="mx-auto max-w-4xl">
        <!-- Header con botón de volver -->
        <div class="bg-white dark:bg-gray-800 rounded-t-3xl ">
            <div class="p-6">
                
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white">Crear Nueva Categoría</h2>
            </div>
        </div>

        <!-- Contenedor principal -->
        <div class=" mx-auto">
            <CategoryCreator client:load />
        </div>

    </div>
</Layout>