---
import Wizard from '../components/jugar/Wizard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Empezar a Jugar - Impostor Game">
  <!-- Hero Section -->
  

  <!-- Wizard de configuración -->
  <section class="py-16 bg-gradient-to-b from-white to-gray-50">
    <div class="container mx-auto px-4">
      <Wizard />
    </div>
  </section>
</Layout>